@import "./global/reset.css";
@import "./global/variables.css";
@import "./components/header.css";
@import "./components/modal.css";
@import "./components/canvas.css";
@import "./components/outputs.css";
@import "./components/homepage.css";


font-family: 'Nunito', sans-serif;
font-family: 'Hind Siliguri', sans-serif;
font-family: 'Russo One', sans-serif;
