.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 900;
}

.modal-child {
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.dev-bios-container {
  font-size: 12px;
  color: white;
  border-radius: 10px;
  border: 2 solid rgb(255,255,255, 0.3);
  height: 450px;
  width: 600px;
  background-color: rgb(0,0,0,0.4);
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  font-weight: 100;

  width: 540px;
  /* height: 200px; */
  height: 370px;
  border: 2px solid rgba(255,255,255,0.5);
  background-color: rgba(13, 101, 241, 0.9);
  box-shadow: 0px 10px 10px rgba(0,0,0,0.2);
}

.dev-bios-text {
  text-align: left;
  line-height: 25px;
}

.dev-bios-li {
  margin-top: 0.4vw;
}

.text-container {
  color: white;
  border-radius: 10px;
  border: 2 solid white;
  width: 600px;
  background-color: rgb(0,0,0,0.4);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-weight: 100;
  text-align: left;
  line-height: 25px;
  font-size: 16px;

  border: 2px solid rgba(255,255,255,0.5);
  background-color: rgba(13, 101, 241, 0.9);
  box-shadow: 0px 10px 10px rgba(0,0,0,0.2);
}

.dev-bios-container #train-message  {
  width: 540px;
  /* height: 370px; */
  height: 200px;
  border: 2px solid rgba(255,255,255,0.5);
  background-color: rgba(13, 101, 241, 0.9);
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
}

.dev-bios-text{
    display: block;
    text-align: center;
}


.light {
  display: block;
  text-align: center;
  font-size: 150px;
  text-shadow: 0px -6px 20px rgb(250,249,20);
}


.done-training-container {
  display: flex;
  justify-content: space-between;
}

.done-training-container button {
    align-items: center;
    margin: auto;
    background:  rgb(11,93,228);
    color: white;
    height: 3vw;
    min-height: 45px;
    width: 200px;
    font-weight: 100;
    border: 2px solid rgba(255,255,255, 0.6);
    border-radius: 100px;
    box-shadow: 0vw 0.15vw 0.2vw rgba(2,12,144, 0.6);
    margin-top: 1vw;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    -webkit-transition: background 0.4s;
    transition: background 0.4s;
    -webkit-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
    font-size: 15px;
}

.done-training-container button:hover{
  background:  rgba(48,178,249,0.6);
  box-shadow: 0vw 0.3vw 0.2vw rgba(2,12,144, 0.4);
}

#load-machine {
  font-size: 12px;
  color: white;
  border-radius: 10px;
  border: 2 solid rgb(255,255,255, 0.3);
  height: 450px;
  width: 600px;
  background-color: rgb(0,0,0,0.4);
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  font-weight: 100;

  width: 540px;
  height: 150px;
  /* height: 370px; */
  border: 2px solid rgba(255,255,255,0.5);
  background-color: rgba(13, 101, 241, 0.9);
  box-shadow: 0px 10px 10px rgba(0,0,0,0.2);
}


#load-machine input {
  height: 35px;
  width: 90%;
  margin-bottom: 2vw;
  border-radius: 8px;
  border: 2px solid rgba(255,255,255,0.4);
  text-align: center;
  color: white;
  font-size: 15px;
}

.load-button {
  margin: auto;
  color: white;
  font-size: 15px;
  font-weight: 100;
  border: 1px solid rgb(2,12,144, 0.4);
  border-radius: 60px;
  box-shadow: 0vw 0.15vw 0.2vw rgb(2,12,144, 0.4);
  cursor: pointer;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  border: 2px solid white;
  width: 140px;
  text-align: center;
  min-height: 40px !important;
}



.training-modal {
  font-size: 12px;
  color: white;
  border-radius: 10px;
  border: 2 solid rgb(255,255,255, 0.3);
  height: 450px;
  background-color: rgb(0,0,0,0.4);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  font-weight: 100;

  width: 350px;
  height: 370px;
  border: 2px solid rgba(255,255,255,0.5);
  background-color: rgba(13, 101, 241, 0.9);
  box-shadow: 0px 10px 10px rgba(0,0,0,0.2);
  position:relative;
  top: 43px;
  left: -600px;
}

.training-modal h1 {
  margin: none;
  color: white;
  font-size: 20px;
  text-align: center;
  font-weight: 100;
  align-items: center;
}


.learn-more {
    position: absolute;
    bottom: 20px;
    right: 20px;
    align-items: center;
    margin: auto;
    background:  rgb(11,93,228);
    color: white;
    height: 35px;
    width: 120px;
    font-weight: 100;
    border: 2px solid rgba(255,255,255, 0.6);
    border-radius: 100px;
    box-shadow: 0vw 0.15vw 0.2vw rgba(2,12,144, 0.6);
    margin-top: 1vw;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    -webkit-transition: background 0.4s;
    transition: background 0.4s;
    -webkit-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
    font-size: 15px;
}

.learn-more:hover {
  background:  rgba(48,178,249,0.6);
  box-shadow: 0vw 0.3vw 0.2vw rgb(2,12,144, 0.4);
}
