.output-div {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.outputs-ul {
    padding: 10px;
}

svg {
    z-index: 2;
}

.node {
    color: black;
    font-size: 14px;
}

.top-output {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.output-container {
    display: flex;
    flex-direction: column;
}
