.output-div {
    display: flex;
    flex-direction: column;
}

.outputs-ul {
    padding: 10px;
}

.memory-div-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 170px;
}

svg {
    z-index: 2;
}

.node {
    color: black;
    font-size: 14px;
}