html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  font-family: Helvetica, sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

input {
  border: 1px solid black;
}

ul {
  list-style: none;
}

div {
  display: flex;
}

button {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input {
  font-weight: 500;
}

.main-body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  z-index: 100;
}

main {
  height: 100vh;
  width: 100vw;
  background: rgb(11,93,228);
  -webkit-animation-name: color-change; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
  animation-name: color-change;
  animation-duration: 5s;
}


@-webkit-keyframes color-change {
    0% { background-color: #232741;}
    40% { background-color: #232741;}
    70% { background-color: rgb(11,93,228);}
}

/* Standard syntax */
@keyframes color-change {
  0% {background-color: #232741;}
  40% { background-color: #232741;}
  70% {background-color: rgb(11,93,228);}
}
