canvas {
    border: 2px solid rgba(255,255,255,0.3);
    cursor: crosshair !important;
    background: rgba(255,255,255,0.1);
    border-radius: 8px;
    -webkit-transition: background 0.4s;
    transition: background 0.4s;
}

canvas:hover{
  background: rgba(255,255,255,1);
  box-shadow: 0vw 0.5vw 1vw rgba(2,12,144,0.4);
}

.testing-canvas-view-div {
    margin-left: 21vw;
    margin-top: 10vh;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.testing-canvas-div {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: row;
}

.testing-canvas-container {
    box-sizing: content-box;
    height: 220px;
    display: block;
}

.test-button {

  color: white;
  font-weight: 100;
  border: 1px solid rgba(2,12,144, 0.4);
  border-radius: 60px;
  box-shadow: 0vw 0.15vw 0.2vw rgba(2,12,144, 0.4);
  cursor: pointer;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  border: 2px solid white;
  width: 12vw;
  min-width: 180px;
  text-align: center;

  height: 3vw;
  min-height: 50px;
  margin-left: 5vw;
  margin-top: 25px;
}

.test-button:hover {
  background:  rgba(48,178,249,0.6);
  box-shadow: 0vw 0.3vw 0.2vw rgb(2,12,144, 0.4);
}

.training-canvas-view-div {
  margin-left:33vw;
  /* width: 100%; */
  margin-top: 10vh;
  min-height: 200px;
  display: flex;
  font-size: 1vw
}

.training-canvas-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.training-canvas-div input {
  height: 35px;
  width: 200px;
  margin-bottom: 2vw;
  border-radius: 8px;
  border: 2px solid rgba(255,255,255,0.4);
  text-align: center;
  color: white;
  font-size: 1.6vw;
}

.training-canvas-div canvas {
  height: 200px;
  width: 200px;
}

.training-canvas-div button {
  color: white;
  font-size: 15px;
  font-weight: 100;
  border: 1px solid rgb(2,12,144, 0.4);
  border-radius: 60px;
  min-height: 50px;
  box-shadow: 0vw 0.15vw 0.2vw rgb(2,12,144, 0.4);
  cursor: pointer;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  border: 2px solid white;
  width: 12vw;
  min-width: 180px;
  text-align: center;

  height: 3vw;
  margin-top: 30px;
}

.training-canvas-div form input {
    width: 6vw;
    margin-left: 2vw;
    font-size: 1vw;
}

.training-canvas-div button:hover {
  background:  rgb(48,178,249,0.6);
  box-shadow: 0vw 0.3vw 0.2vw rgb(2,12,144, 0.4);
}


.training-canvas-div form {
  display: none;
}

.memory-div{
  margin-left: 6vw;
  box-shadow: 0vw 0.25vw 0.3vw rgb(2,12,144, 0.4);
  border-radius: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 20vw;
  min-width: 320px;
  box-sizing: content-box;
  min-height: 10vw;
  max-height: 85vh;
  overflow: scroll;
  align-items: center;
  display: flex;
  flex-direction: column;
  -webkit-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
}

.memory-div:hover {
  box-shadow: 0vw 0.4vw 0.6vw rgb(2,12,144,0.6);
}
.memory-div p {
  margin: 1vw;
  color: white;
  font-size: 30px;
  font-weight: 100;
  align-items: center;
}

.memory-div-container{
  /* margin-left: 1.5vw; */
  width: 300px;
  align-items: center;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  background-color: rgb(255,255,255,0.1);
  margin-bottom: 1vw;
  border-radius: 10px;
}

.memory-div-container li{
  justify-content: center;
   display: flex;
   align-items: center;
}

.memory-li {
  position: relative;
}

.memory-li #talkbubble {
  position: absolute;
  display: none;
  color: white;
  text-shadow: 0 0 2px rgba(0,0,0,0.3);
}

.memory-li:hover #talkbubble {
  display: block;
}

.memory-li canvas{
  cursor: default !important;
  background-color: white;
  padding: 0.3vw;
  margin: 1vw;
  border-radius: 10vw;
  -webkit-transition: box-shadow 0.1s;
  transition: box-shadow 0.1s;
}

.memory-li:hover canvas {
  cursor: default !important;
  background-color: rgba(0,0,0,0.4);
  border: 2px solid rgba(255,255,255,0);
}

.testing-canvas-button-container {
  display: flex;
  flex-direction: column;
}

.svgContainer {
  height: 100%;
}