.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.dev-bios-container {
  color: white;
  border-radius: 10px;
  border: 2 solid rgb(255,255,255, 0.3);
  /* height: 450px; */
  width: 600px;
  background-color: rgb(0,0,0,0.4);
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  font-weight: 100;
  box-sizing: content-box;
}

.dev-bios-text {
  text-align: left;
  line-height: 25px;
}

.dev-bios-li {
  margin-top: 0.4vw;
}

.text-container {
  color: white;
  border-radius: 10px;
  border: 2 solid rgb(255,255,255, 0.3);
  height: 40px;
  width: 600px;
  background-color: rgb(0,0,0,0.4);
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  font-weight: 100;
  text-align: left;
  line-height: 25px;
  font-size: 25px;
  text-align: center;
}


.dev-bios-container #load-machine {
  height: 200px !important;
}


.training-info {
  color: white;
  border-radius: 10px;
  border: 2 solid rgb(255,255,255, 0.3);
  /* height: 450px; */
  width: 600px;
  background-color: rgb(0,0,0,0.4);
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  font-weight: 100;
  box-sizing: content-box;
}



.learn-more {
  align-items: center;
  margin: auto;
  background:  rgb(11,93,228);
  color: white;
  height: 3vw;
  min-height: 45px;
  width: 200px;
  font-weight: 100;
  border: 2px solid rgba(255,255,255, 0.6);
  border-radius: 100px;
  box-shadow: 0vw 0.15vw 0.2vw rgba(2,12,144, 0.6);
  margin-top: 1vw;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  -webkit-transition: background 0.4s;
  transition: background 0.4s;
  -webkit-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
  font-size: 15px;
}
