.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.dev-bios-container {
  color: white;
  border-radius: 10px;
  border: 2 solid rgb(255,255,255, 0.3);
  height: 450px;
  width: 600px;
  background-color: rgb(0,0,0,0.4);
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  font-weight: 100;
}

.dev-bios-text {
  text-align: left;
  line-height: 25px;
}

.dev-bios-li {
  margin-top: 0.4vw;
}

.text-container {
  color: white;
  border-radius: 10px;
  border: 2 solid rgb(255,255,255, 0.3);
  height: 40px;
  width: 600px;
  background-color: rgb(0,0,0,0.4);
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  font-weight: 100;
  text-align: left;
  line-height: 25px;
}
